header{
	border: 3px solid green;
	background-color: #ffff66;
	width:100%;
	height: 80px;
	top:0px;
    position: fixed; /*this makes the header not movable"
	outline-width: 10px;
	outline-style: double;
	outline-color: black;
}

header img {
	margin: 12px;
}

/*header:hover {
	background-color: green;
<<<<<<< HEAD
}
header:hover p {
	
}
=======
	color: white;
}*/
>>>>>>> aac90f06ee827956e44f6fa00e00e24774c86d33
