<!DOCTYPE html>
<html>

<head>{% block head %} {% endblock %}
	<title> {% block title %} {% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style/elements.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style/navigation.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style/footer.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style/header.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style/dropdown.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style/links.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style/table.css')}}">
</head>
<div id="headers">
	<header>
		<a href="/pramshigh/"><img src="../static/asset/images/logo.jpg" alt="School Logo"
				style="float:left; width:50px;height:50px"></a>
		<p style="text-align:center; float: left; margin-left: 30px;">Prampram Senior High, <strong
				title="Percevierance">Nyegblah!!</strong></p>
		<ul class="nav1">
<div class="dropdown">

				<li><a class="active" href="{{ url_for('views.pramshigh')}}">Home</a></li>
				<div class="dropdown-content">
					<ul class="nav1">
						<li><a class="active" href="{{ url_for('views.pramshigh')}}">Academics</a></li>
						<li><a href="{{ url_for('views.courses')}}">Sport</a></li>
						<li><a href="{{ url_for('views.timetable')}}">Debate</a></li>
					</ul>
				</div>
			</div>
			<li><a href="{{ url_for('views.courses')}}">Courses</a></li>
			<li><a href="{{ url_for('views.timetable')}}">Timetable</a></li>
			<li><a href="{{ url_for('views.fisher')}}">Fisher</a></li>
			<div class="dropdown">

				<li><a href="navigation.html">Departments</a></li>
				<div class="dropdown-content">
					<ul class="nav1">
						<li><a class="active" href="index.html">Math & Science</a></li>
						<li><a href="courses.html">Home Economics</a></li>
						<li><a href="f1_va_timetable.html">Languages</a></li>
					</ul>
				</div>
			</div>
		</ul>
	</header>
</div>

<body style="padding-top: 5%;">
	{% block content %}
	{% endblock %}

	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	{% if category == 'error' %}
	<div class="alert alert-danger alert-dismissable fade show" role='alert'>
		{{ message }}
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% else %}
	<div class="alert alert-success alert-dismissable fade show" role='alert'>
		{{ message }}
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	{% endif %}
	{% endfor %}
	{% endif %}
	{% endwith %}
	<footer>
		<h1> Contact Us</h1>
		<address>
			<p>Gradegenuis Ltd</p><b>
					<p>Greater Accra, Ologotse street-Ningo</p><b>
							<p>P.O. BOX </p><b>
									<p>info@gradegenuis.tech</p>
										
		
								</address>
	</footer>

	{% block script %}
	{% endblock %}
</body>

</html>