
<head>
	<link rel="stylesheet"  type="text/css" href="{{ url_for ('static', filename='style/form.css')}}">
</head>
{% extends 'base.html' %}
{% block content %}
<main>
	
<div class="forms">
	<h2 id="form_lable"> Login </h2>
	<hr>
<form>
<label for="fname">First Name</label>
<input type="text" id="lname" name="first_name">
<label for="last_name">Last Name</label>
<input type="text" id="lname" name="lastname">
<label for="password">Password</label>
<input type="password" id="pwd" name="password">
<input type="button" id="lname" value="Submit">

</form>
</div>
</main>
{% endblock %}