{% extends 'base.html' %}
{% block content %}
<main>
        <h2>
            The following are the subject of course offered at Prampram Senior High
        </h2>
        <h2>
            {{ subject }}
        </h2>
        <ul>
            <li>Managemnent in Living</li>
            <li>
                Cost Accounting
            </li>
            <li>
                Accounting
            </li>
            <li>
                Core Math
            </li>
            <li>
                Elective Mathematics
            </li>
            <li>
                English Language
            </li>
            <li>
                Social Studies
            </li>
        </ul>
        <h2> Vistual Art Option 1 (Graphics)</h2>
        <ol>
            <li>
                Leather Work
            </li>
            <li>
                General Knowledge in Art
            </li>
            <li>
                Elective ICT
            </li>
            <li>
                Core Math
            </li>
            <li>
                Core ICT
            </li>
            <li>
                English Language
            </li>
            <li>
                Social Studies
            </li>
        </ol>
        <h2>Government Option 1</h2>
        <ol style="list-style-type: lower-greek;">
            <li>Dangme</li><li>Government</li><li>Social Studies</li><li>Core Maths</li><li>Core English Language</li><li>Core ICT</li><li>Christian Religious Service</li>
        </ol>

        <p> The following are some of the courses you may like to consider for your ward</p>
        {%for i in range(0, lens)%}
         
        <ul>
            <ol>{{ i + 1}}. {{ courses[i] }}</ol>
        </ul>
        {%endfor%}

 </main>
 {% endblock %}