
{% extends 'base.html' %}
{% block content %}

<main>
<h1 id="headee"> Fisher </h1>
	<p><strong>Fisher</strong> is the brain of <b>gradegenuis</b>. It computes your grades with <small>acuracy</small> according to most Africa <em>Universities <mark>CGPA</mark> standard.</em></p>
<p><bdo dir="rtl"> Trying dThis is what we called <abbr title="Biodirectional Override">BDO</abbr></bdo></p>

<p><q>My life and <sup><ins>studies</ins></sup> attitudes have changed after visiting and taking my learning framework.<br> I would also like to thank <abbr title="Africa Learning Experience">ALX</abbr> for the opportunity given to me to study</q>
</p>

<p class="left_blue">This one have a blue left border</p>
</main>
{% endblock %}