

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/style/elements.css">
	<link rel="stylesheet" href="../static/style/by_class.css">
	<link rel="stylesheet" href="../static/style/footer.css">
	<link rel="stylesheet" href="../static/style/header.css">
	<link rel="stylesheet" href="../static/style/links.css">
</head>
<div>
	<header>
	<a href="index.html"><img src="../static/asset/images/logo.jpg" alt="School Logo" style="float:left; width:50px;height:50px"></a>
	<p style="text-align:center; float: left; margin-left: 30px;">Prampram Senior High, <strong title="Percevierance">Nyegblah!!</strong></p>
	<ul class="nav"> <li>Home</li><li>Departments</li><li>Student Jurnalism</li></ul>
	</header>
</div>
<body>
<h1 id="headee"> Fisher </h1>
	<p><strong>Fisher</strong> is the brain of <b>gradegenuis</b>. It computes your grades with <small>acuracy</small> according to most Africa <em>Universities <mark>CGPA</mark> standard.</em></p>
<p><bdo dir="rtl"> Trying dThis is what we called <abbr title="Biodirectional Override">BDO</abbr></bdo></p>

<p><q>My life and <sup><ins>studies</ins></sup> attitudes have changed after visiting and taking my learning framework.<br> I would also like to thank <abbr title="Africa Learning Experience">ALX</abbr> for the opportunity given to me to study</q>
</p>

<p class="left_blue">This one have a blue left border</p>
</body>
<footer>
<h1> Contact Us</h1>
<address>
<p>Gradegenuis Ltd<b>
<p>Greater Accra, Ologotse street-Ningo<b>
<p>P.O. BOX 345F<b>
<p>info@gradegenuis.tech
</footer>
</html>