{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='style/form.css')}}">
{% block title %}
Login
{% endblock %}

{% endblock %}



{% block content %}
<main>

	<div class="forms">
		<h2 id="form_lable"> Login </h2>
		<hr>
		<form method="post">
			<label for="fname">First Name</label>
			<input type="text" id="first" name="first_name">
			<label for="last_name">Last Name</label>
			<input type="text" id="last" name="last_name">
			<label for="password">Password</label>
			<input type="password" id="pwd" name="password">
			<input type="submit" id="send" value="Submit">
		</form>
	</div>
	{% block script %}
	<script type="text/javascript" src="{{ url_for ('static', filename='scripts/login.js')}}" defer></script>
	{% endblock %}
</main>

<p id="oya"> Hello!, </p>
<input name="user" type="text" id="by_id">
<button id="delete" style="background-color: red; color:white;">Delete</button>
<ul id="buttons">
	
</ul>
<button id="new_button" style="background-color: gray;padding: 10px; outline: 2px solid gray; display: inline;">New Button </button>
<button id="compute" style="background-color: gray;padding: 10px; outline: 2px solid yellow;">Compute </button>

{% endblock %}