#headers{
	border: 3px solid green;
	background-color: #ffff66;
	width:100%;
	top:10px;
    position: fixed; /*this makes the header not movable*/
	outline-width: 10px;
	outline-style: double;
	outline-color: black;
}

#headers img {
	margin: 12px;
}
