/*Pseudo-class definition*/

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
