ul.nav1 {
	float:right;
	color:black;
}
.nav1 li{
	display: inline-block;
	margin: 5px;
	list-style-type: none;

}
li a {
	min-width: 100px;
	text-decoration: none;
}
li .active {
	color: green;	
}
li a:hover:not(.active){
	background-color: lightgreen;
	text-decoration: none;
	display: block;
	color: white;
}



